* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos para el contenedor principal */
html,
body {
  height: 100%;
  font-family: "Century Gothic", sans-serif;
  display: flex;
  flex-direction: column;
}

h3 {
  text-align: center;
  padding: 20px;
}

/* Contenedor del menú */
.menu {
  padding: 10px 20px;
}

.botonmenu {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.menu:hover {
  transition: opacity 0.2s;
}

/* Navbar */
.navbar {
  width: 180px;
  background-color: #343a40;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0; /* Sin padding */
  height: 100%;
  border: 0; /* Sin bordes */
}

/* Footer */
.footer {
  padding: 1rem;
  text-align: center;
  font-size: 10px;
  background-color: #b25300;
  color: white;
}

.footer .logos img {
  margin: 0 10px;
  width: 30px;
  height: 30px;
  transition: opacity 0.2s;
  cursor: pointer;
}

.footer .logos img:hover {
  opacity: 0.7;
}

.fondo_index img {
  width: 100%;
  height: auto;
  display: block;
}

/* Dropdown */
.dropdown {
  width: 100%;
  background-color: #343a40;
  padding: 10px;
  color: white;
  margin-bottom: 8px;
}

.dropdown select {
  width: 100%;
  padding: 10px;
  background-color: #343a40;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn {
  background-color: #b25300;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #495057;
}

.paginador {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}

.page-link {
  margin: 0 10px;
  padding: 10px 15px;
  background-color: #343a40;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.page-link:hover {
  background-color: #495057;
}

@media only screen and (max-width: 600px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.container {
  display: flex;
}

.navbar {
  width: 180px;
  background-color: #8c480c;
  color: white;
  height: 100vh; /* Altura completa de la ventana */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  margin: 20px 0;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

.navbar ul li a:hover {
  background-color: #575757;
}

.fondo_index {
  height: 100%;
  width: 108%;
}

.formulario {
  margin: 20px;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #b25300;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #495057;
}

.img_contacto {
  padding: 60px 60px 60px 60px;
}

.img_contacto {
  padding: 60px;
  transition: transform 0.3s ease-in-out;
}

.img_contacto:hover {
  transform: scale(1.1);
}

.botonmenu a,
.btn {
  transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.botonmenu a:hover,
.btn:hover {
  background-color: #495057;
  transform: translateY(-3px);
}
